@import url(style.css);

 
@media (max-width: 480px) {

    /* Every Section Code */
    p {
        font-size: 1rem;
    }

    h2 {
        font-size: 2rem;
        padding: 10px;
    }

    .subMainSection {
        padding: 3rem 1rem;
        text-align: center;
    }

    .scro {
        overflow: auto;
        width: 100vw; 
    }

    .scro p {
        line-height: 19px;
        font-size: 13px;
    }

    /* t.topHead */
    .topHead>div {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .topHead a {
        padding: 0px;
        font-size: 13px;
    }

    /* Navbar */
    .topNav {
        flex-wrap: wrap;
    }

    .navBarS a {
        padding: 1px 20px;
    }

    .topNav .brand_logo h2 {
        color: var(--body-color);
        font-size: 5vw;
    }

    .brand_logo img {
        width: 50px;
        margin-right: 0rem;
    }



    /* Nav Bar menu */
    .navBarS {
        display: none;
    }

    .responsive-navBarS {
        flex-direction: column;
        padding-bottom: 2rem;
        background-color: #fff;
        position: sticky;
        top: 51px;
        z-index: 9;
    }

    .responsive-navBarS a {
        margin-left: 0rem;
        color: var(--tDark);
        font-size: 1.2rem;
        padding: 4px 20px;
        padding-left: 3rem;
        padding-top: 18px;
    }

    .menuIcon {
        font-size: 1.5rem;
        color: var(--tGreen);
    }


    #openIcon {
        display: block;
    }

    /* Main Section */
    .m_Section {
        padding: 5rem 3rem;
    }
    .m_Section>div{
        padding: 1rem;
    }
    .m_Section h1,
    .p_Section h1 {

        font-size: 2rem;
        text-align: center;
    }

    .m_Section h4,
    .p_Section span {
        text-align: center;
        font-size: 1rem;
        padding: 5px 1rem;
        margin-top: 0px;
    }

    /* section Every */

    .brandItem img {
        width: 51vw;
    }
    .brandIMpo{
        display: flex;
        flex-direction: column;
    }

    .brandImportence {  
        min-width: 90vw;
        align-items: center;
        background-color: #fff;
        padding: 0px;
        border-radius: 9px;
        -webkit-box-shadow: 0 0 3px #818080;
        box-shadow: 0 0 3px #3c3b3b77; 
        margin: .5rem;


    }

    .impoMob {
        display: flex;
    }

    .sec-back-style {
        display: flex;
        flex-direction: column;
        width: 24vw;
        min-width: 54vw;
        align-items: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 16px;
        -webkit-box-shadow: 0 3px 3px #818080;
        box-shadow: 0px 3px 3px #3c3b3b77;
        margin: .8rem;
    }

    .brandReview img {
        width: 40vw;
    }

    /* Subscribe */
    .Subscribe-input {
        border-radius: 10px;

    }

    .Subscribe button {
        margin-top: 5px;
    }


    .Subscribe .mailInput {
        width: 80%;
        margin-left: 0rem;
    }

    .Subscribe img {
        display: none;
    }


    /* Footer */
    .footerBg {
        flex-direction: column;
    }

    footer li,
    a {
        font-size: 14px;
    }

    .fa-location-dot {
        margin-top: 2rem;
    }

    /*  Contact Section   */
    .abtSecWidth {
        padding: 1rem;
        padding-top: 0px;
    }

    .aboutSec {
        flex-direction: column;
    }

    .aboutSec .contactImg img {
        display: none;
    }

    .contactImg h1 {
        font-size: 1.85rem;
        display: block;
        text-align: center;
        margin: 10px 0px;
        margin-bottom: 1rem;
    }

    .aboutSec>div {
        width: 100%;
        margin: 0rem;
    }

    .form-sec {
        width: 100wh;
    }

    input,
    textarea {
        width: 90%;
    }

    /* 
        /// Product Section 
    */
    .p_Section {
        height: 50vh;
        background-image: url(./assets/products-disposabale.jpg);
        background-size: cover;
        background-position: 0px;
        display: flex;
        align-items: end;
        justify-content: center;
    }
    

    .p_Section span {
        font-size: 1.5rem;
    }

    .p-card-sec {
        padding: 0px 2.5rem;

    }

    .p-card {
        width: 100%;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        background-color: var(--section-bg);
    }

    /* 
        /// About Section 
    */

    .about h2 {
        font-size: 32.5px;
        text-align: center;
    }

    /* premrajan */
    .premrajan {
        display: flex; 
        flex-direction: column-reverse;
    }

    .premrajan em {
        display: block;
        text-align: center;
        margin-bottom: .5rem
    }


    /* team */
    .team {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .jkl {
        display: flex;
        flex-direction: row;
        justify-content: left; 
    }

    .cardBg {
        padding: 10px;
        width: 300px;
        margin: 0px 0rem;
        margin-bottom: 6rem;

    }

    .profileCanvas {
        height: 300px;
        background-size: cover;
        display: flex;
        justify-content: center;

    }

    .card-body { 
        height: auto;
        background-color: var(--tGreen);
        color: var(--textColorLight);
        padding: 0rem;

    }
}

@media (min-width: 480px) and (max-width: 767px) {
  

    /* Every Section Code */
    p {
        font-size: 1rem;
    }

    h2 {
        font-size: 2rem;
        padding: 10px;
    }

    .subMainSection {
        padding: 3rem 1rem;
        text-align: center;
    }

    .scro {
        overflow: auto;
        width: 100vw; 
    }

    .scro p {
        line-height: 19px;
        font-size: 13px;
    }

    /* t.topHead */
    .topHead>div {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .topHead a {
        padding: 0px;
        font-size: 13px;
    }

    /* Navbar */
    .topNav {
        flex-wrap: wrap;
    }

    .navBarS a {
        padding: 1px 20px;
    }

    .topNav .brand_logo h2 {
        color: var(--body-color);
        font-size: 5vw;
    }

    .brand_logo img {
        width: 50px;
        margin-right: 0rem;
    }

    /* Nav Bar menu */
    .navBarS {
        display: none;
    }

    .responsive-navBarS {
        flex-direction: column;
        padding-bottom: 2rem;
        background-color: #fff;
        position: sticky;
        top: 66px;
        z-index: 9;
    }

    .responsive-navBarS a {
        margin-left: 0rem;
        color: var(--tDark);
        font-size: 1.2rem;
        padding: 4px 20px;
        padding-left: 3rem;
        padding-top: 18px;
    }

    .menuIcon {
        font-size: 1.5rem;
        color: var(--tGreen);
    }


    #openIcon {
        display: block;
    }

    /* Main Section */
    .m_Section {
        padding: 9rem 5rem;
    }
    .m_Section>div { 
        padding: 1rem; 
    }
    .m_Section h1,
    .p_Section h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .m_Section h4,
    .p_Section span {
        text-align: center;
        font-size: 1.2rem;
        padding: 5px 1rem;
        margin-top: 12px;
    }

    /* section Every */

    .brandItem img {
        width: 29vw;
        margin: 0.5rem 0.2rem;

    }


    .sec-back-style {
        display: flex;
        flex-direction: column;
        width: 24vw;
        min-width: 30vw;
        align-items: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 16px;
        -webkit-box-shadow: 0 0 10px #818080;
        box-shadow: 0 0 10px #3c3b3b77;
        margin: .8rem;
    }

    .brandReview img {
        width: 22vw;
    }

    /* Subscribe */
    .Subscribe-input {
        border-radius: 10px;

    }

    .Subscribe button {
        margin-top: 5px;
    }


    .Subscribe .mailInput {
        width: 80%;
        margin-left: 0rem;
    }

    .Subscribe img {
        display: none;
    }

    /* Footer */
    .footerBg {
        flex-direction: column;
    }

    footer li,
    a {
        font-size: 14px;
    }

    .fa-location-dot {
        margin-top: 2rem;
    }

    /*  Contact Section   */
    .abtSecWidth {
        padding: 1rem;
        padding-top: 0px;
    }

    .aboutSec {
        flex-direction: column;
    }

    .aboutSec .contactImg img {
        display: none;
    }

    .contactImg h1 {
        font-size: 1.85rem;
        display: block;
        text-align: center;
        margin: 10px 0px;
        margin-bottom: 1rem;
    }

    .aboutSec>div {
        width: 100%;
        margin: 0rem;
    }

    .form-sec {
        width: 100wh;
    }

    input,
    textarea {
        width: 90%;
    }

    /* 
        /// Product Section 
    */

    .p_Section span {
        font-size: 1.5rem;
    }

    .p-card-sec {
        padding: 0px 2.5rem;

    }

    .p-card {
        width: 100%;
        padding: 1rem; 
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        background-color: var(--section-bg);
    }

    /* 
        /// About Section 
    */

    .about h2 {
        font-size: 32.5px;
        text-align: center;
    }

    /* premrajan */
    .premrajan {
        display: flex; 
        flex-direction: column-reverse;
    }

    .premrajan em {
        display: block;
        text-align: center;
        margin-bottom: .5rem
    }


    /* team */
    .team {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .jkl {
        display: flex;
        flex-direction: row;
        justify-content: left; 
    }

    .cardBg {
        padding: 10px;
        width: 300px;
        margin: 0px 0rem;
        margin-bottom: 6rem;

    }

    .profileCanvas {
        height: 300px;
        background-size: cover;
        display: flex;
        justify-content: center;

    }

    .card-body { 
        height: auto;
        background-color: var(--tGreen);
        color: var(--textColorLight);
        padding: 0rem;

    }
}