:root {
    --body-color: #03A583;
    --primary-color: #f46200;
    --headding-color: #222222;
    --section-bg: #F8F8F8;
    --textColorLight: #fff;
    --textColorDark: #000;
    --tDark: #1A4A5E;
    --tRed: #F30309;
    --tGreen: #04A584;

}

body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-wrap: wrap;
}

/* Universal Tag */
a {
    text-decoration: none !important;
    margin: 0px;
}

h1,
h4,
h2 {
    margin: 0px;
}

p {
    font-size: 18px;
    line-height: 2rem;
}

/* Top Section */
.topHead {
    background: var(--body-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 9px 25px;
}
.topHead a {
    padding: 9px;
    color: var(--textColorLight);
}
/* Navbar */
.topNav {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: #fff; 
}
.navBarS a {
    color: var(--tDark);
    padding: 1.6rem 20px;
    cursor: pointer;
}
.navBarS>a:hover {
    color: var(--tGreen);
    background-color: #22222210;
}
button {
    background-color: var(--tGreen);
    border: 0px;
    padding: 9px;
    width: 120px;
    border-radius: 5px;
    color: var(--textColorLight);
    cursor: pointer;
    font-size: 1rem;
}
button:hover {
    background-color: var(--textColorLight);
    color: var(--tGreen);
}
.brand_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.topNav .brand_logo h2 {
    color: var(--body-color);
    font-size: 2.3rem;
}
.logoSecondText {
    color: var(--tRed);
}
/* Main Section */
.m_Section {
    height: 80vh;
    background-image: url(./assets/surgi_bg.jpg);
    background: linear-gradient(0deg, rgba(61, 94, 9, 0.3), rgba(3, 134, 20, 0.3)), url(./assets/surgi_bg.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: var(--body-color);
    color: var(--section-bg);
    display: flex; 
    justify-content: center;
    align-items: center;
}

.m_Section>div {
    width: 800px;
    font-size: 3rem;
}

.m_Section h4 {
    font-weight: 400;
}

/* Every Section Code */
.subMainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--section-bg);
    padding: 3rem 5rem;
}

.subMainSection:nth-child(even) {
    background-color: var(--textColorLight);
}

.brandShowCase {
    display: flex;
}

.subMainSection h2 {
    font-size: 2.1rem;
    padding: 10px;
}

.subMainSection p {
    margin: 0px;
}

/* <!-- Brand Higlight --> */
.brandItem img {
    width: 15rem;
    background-color: #03A583;
    margin: 2.5rem 1.2rem;
}

/* Importence */
.brandImportence {
    width: 15rem;
    margin: 1rem 1rem;
}

.brandImportence img {
    width: 8rem;
    margin-bottom: 1.2rem;
}

/* Client Review */
.brandReview {
    width: 20rem;
    margin: 1rem;
}

.brandReview img {
    width: 10rem;
}

.client_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
}

.rateStar {
    color: rgb(234, 172, 13);
}

.fa-noN {
    color: #f0e7b5;
}
/* Footer */
footer ul {
    list-style: none;
    text-align: left;
}
footer li,
a {
    color: var(--section-bg);
}

footer li {
    padding: .3rem 0px;
    line-height: 1.5rem;
}
.footerAlign {
    justify-content: space-around;

}
.footerAlign>div {
    width: 400px;
    text-align: center;
}
.footerBg {
    background-color: #014A44 !important;
}


/* About */
.abtSecWidth{
    padding: 3rem;
    padding-top: 0px;
}
.aboutSec{
    display: flex;
    flex-direction: row;
    background-color: var(--section-bg);
}
.aboutSec >div{
    width: 50%;
    margin: 2rem;
}
.aboutSec img{
    width: 100%;
}
.aboutSec h2{
    font-size: 2.2rem; 
}
.aboutSec p{
    line-height: 1.8rem;
    text-indent: 2rem;
}
/* Premarajan */
.premrajan{
    background-color: var(--textColorLight);
}
/* team */
.team p{
    margin: 0px; 
}
.team h2{
    font-size: 3rem;
}
.team{
    text-align: center;
    display: flex;
    flex-direction: column;
} 
.jkl{
   display: flex;
   flex-direction: row; 
  justify-content: center;
   width: 100wh;  
}
.cardBg{ 
    padding: 50px;
    width: 300px;  
    margin: 0px 1rem;
    margin-bottom: 6rem;
     
}
.profileCanvas{ 
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;  
   
} 
.card-body{ 
    height: 160px; 
    background-color: var(--tGreen);
    color: var(--textColorLight);
    padding: 1rem;

}
/* COntact */
input,
textarea {
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    margin: 10px 0px;
    border: 1px solid #04A584;
}

textarea {
    padding: 10px 10px; 
}

textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;
} 
form>  button {
    width: auto;
    padding: 15px;
}  